{% extends 'common/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h3>로그인 되어있습니다</h3>
<p>{{ user.username }} 사용자</p>
<form action="/member/logout/">
	<button type="submit" class="btn btn-primary">로그아웃하기</button>
</form>
{% else %}
<div class="col-md-6 col-md-offset-3">
	<h3 class="text-center">Login</h3>
	<form action="" method="POST" class="form">{% csrf_token %}
		<div class="form-group">
			{{ form.username.label_tag }}
			{{ form.username }}
		</div>

		<div class="form-group">
			{{ form.password.label_tag }}
			{{ form.password }}
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>
{% endif %}
{% endblock %}