{% extends 'common/base.html' %}

{% block content %}
<!-- .post [tab] -->
<div class="post-detail">
  <div class="detail-title-container">
    <h2>{{ post.title }}</h2>

    <span class="pull-right">
      {% if post.author == user %}
      <span>
        <a href="{% url 'blog:post_edit' pk=post.pk %}"
            class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </span>

      <span>
        <a href="{% url 'blog:post_delete' pk=post.pk %}"
            class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </span>
      {% endif %}
    </span>
  </div>
  {% if post.published_date %}
    <p class="date text-right">
      <small>{{ post.published_date }}</small>
    </p>
  {% else %}
    <div>Published Date None</div>
  {% endif %}
  <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endblock %}
