option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django/fastcampus/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "django/static_root/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fastcampus.settings
    PYTHONPATH: /opt/python/current/app/django:$PYTHONPATH
  aws:elasticbeanstalk:container:python:
    WSGIPath: django/fastcampus/wsgi.py
    NumProcesses: 3
    NumThreads: 20



container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python django/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python django/manage.py collectstatic --noinput"