option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django/fastcampus/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "django/static_root/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fastcampus.settings
    PYTHONPATH: /opt/python/current/app/django:$PYTHONPATH

container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true